/**
* @file zbook_rp2350b_m33-common.dtsi
* @brief Shared hardware description for the Zbook board, included by both the
*        standalone (zbook_rp2350b_m33.dts) and MCUboot (..._mcuboot.dts)
*        variants. Flash partitions and zephyr,code-partition are variant
*        specific and therefore live in the per-variant .dts files.
*
* @copyright Copyright (c) Centro de Inovação EDGE
*/

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include "zbook-pinctrl.dtsi"

/ {
	model = "zbook";
	compatible = "edge,zbook";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,settings-partition = &storage_partition;
	};

	aliases {
		led0 = &blue_led;
		led1 = &green_led;
		led2 = &yellow_led;
		led3 = &red_led;
		button0 = &button1;
		button1 = &button2;
		button2 = &button3;
		button3 = &button4;
		led-strip = &ws2812;
		pwm-buzzer = &pwm_buzzer;
		pwm-mosfet = &pwm_mosfet;
	};

	/*
	 * LittleFS auto-mounted on the `storage` flash partition at /lfs, used by
	 * the settings FILE backend (CONFIG_SETTINGS_FILE) to persist Wi-Fi
	 * credentials to a file instead of NVS. The node is inert unless
	 * CONFIG_FILE_SYSTEM_LITTLEFS=y, so non-LittleFS builds are unaffected.
	 * Geometry matches the RP2350 flash (write-block-size 1, erase-block 4 KB):
	 * cache-size divides the 4 KB erase block; read/prog-size divide cache-size.
	 */
	fstab {
		compatible = "zephyr,fstab";

		lfs_storage: lfs_storage {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};

	leds {
		compatible = "gpio-leds";

		blue_led: blue {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};

		green_led: green {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		};

		yellow_led: yellow {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		};

		red_led: red {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
		compatible = "gpio-keys";

		button1: button1 {
			zephyr,code = <INPUT_KEY_UP>;
			label = "BTN_UP";
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		};

		button2: button2 {
			zephyr,code = <INPUT_KEY_RIGHT>;
			label = "BTN_RIGHT";
			gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		};

		button3: button3 {
			zephyr,code = <INPUT_KEY_LEFT>;
			label = "BTN_LEFT";
			gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
		};

		button4: button4 {
			zephyr,code = <INPUT_KEY_DOWN>;
			label = "BTN_DOWN";
			gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
		};
	};

	microphone: microphone {
		compatible = "voltage-divider";
		io-channels = <&adc 0>;
		output-ohms = <15000>;
		full-ohms = <285000>;
	};

	pico_header: connector {
		compatible = "raspberrypi,pico-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 0 0>,	/* GP0 */
		<7 0 &gpio0 7 0>,	/* GP7 */
		<8 0 &gpio0 8 0>,	/* GP8 */
		<26 0 &gpio0 26 0>,	/* GP26 */
		<27 0 &gpio0 27 0>,	/* GP27 */
		<41 0 &gpio0_hi 9 0>,	/* GP41 */
		<44 0 &gpio0_hi 12 0>,	/* GP44 */
		<45 0 &gpio0_hi 13 0>,	/* GP45 */
		<46 0 &gpio0_hi 14 0>,	/* GP46 */
		<47 0 &gpio0_hi 15 0>;	/* GP47 */
	};

	pwm_outputs {
		compatible = "pwm-leds";

		pwm_buzzer: pwm_buzzer_node {
			pwms = <&pwm 16 PWM_USEC(500) PWM_POLARITY_NORMAL>;
		};

		pwm_mosfet: pwm_mosfet_node {
			pwms = <&pwm 15 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	spibb0: spibb0 {
		compatible = "zephyr,spi-bitbang";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		clk-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

		display_spi: display_spi@0 {
			compatible = "vnd,spi-device";

			reg = <0>;
			spi-max-frequency = <1600000>;
			label = "OLED Display";
		};
	};
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	cs-gpios = <&gpio0_hi 7 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";

	status = "okay";
	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
		spi-max-frequency = <24000000>;
	};
};

&spi1 {
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;

	status = "okay";
};

&flash0 {
	reg = <0x10000000 DT_SIZE_M(2)>;
};

&i2c0 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&gpio0 {
	status = "okay";

	actuators {
		compatible = "gpio-leds";

		ir_emitter: ir_emitter {
			gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
			label = "IR Emitter";
		};
	};

	accelerometer {
		compatible = "edge,gpio-inputs";

		int1: int1 {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "Accelerometer INT1";
		};

		int2: int2 {
			gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
			label = "Accelerometer INT2";
		};
	};

	display {
		compatible = "gpio-leds";

		display_reset: display_reset {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "Display Reset";
		};

		display_en: display_en {
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
			label = "Display Enable";
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	/* ESP8266 Wi-Fi module lives on the zbook_wifi shield (--shield zbook_wifi). */
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";

	potentiometer: channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <12>;
	};

	ldr_adc: channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <12>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <12>;
	};
};

&pio1 {
	status = "okay";

	/*
	* Need to put this on PIO1 as having this on PIO0 causes the GPIO hog to
	* not work.
	*/
	pio_ws2812: ws2812 {
		compatible = "worldsemi,ws2812-rpi_pico-pio";
		status = "okay";
		pinctrl-0 = <&pio1_ws2812_default>;
		pinctrl-names = "default";
		bit-waveform = <3>, <3>, <4>;

		ws2812: ws2812 {
			status = "okay";
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			chain-length = <1>;
			color-mapping = <LED_COLOR_ID_GREEN
			LED_COLOR_ID_RED
			LED_COLOR_ID_BLUE>;
			reset-delay = <280>;
			frequency = <800000>;
		};
	};
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm_default>;
	pinctrl-names = "default";
	divider-int-0 = <255>;
};

&gpio0_hi {
	status = "okay";

	sensors {
		compatible = "edge,gpio-inputs";

		ir_receiver: ir-receiver {
			gpios = <&gpio0_hi 1 GPIO_ACTIVE_HIGH>;
			label = "IR Receiver";
		};
	};
};

&rng {
	status = "okay";
};
